# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Dependency directories
node_modules/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc

### Firebase Patch ###
.runtimeconfig.json
.firebase/